body{
    font-family: "Source Sans Pro";
    font-style: normal;
}
header{
    width: 1448.15px;
    height: 1055px;
    background-repeat: no-repeat, repeat;
    background-image: url("../html_advanced/img/Bitmap.png");
    position: relative;
    filter: grayscale(100%)
    
}
header .logo{
    
    position: absolute;
    top: 15px;
    left: 0px;
    padding: 10px;
    margin-left: 100px;
    text-decoration: none;

}
.nav-urls{
    font-size: 12;
}
.nav-urls1{
    position: absolute;
    top: 50px;
    right: 200px;
    padding: 10px;
    margin-right: 100px;
    text-decoration: none;
}
.nav-urls2{
    position: absolute;
    top: 50px;
    right: 200px;
    padding: 10px;
    margin-right: 0px;
    text-decoration: none;
}
.nav-urls3{
    position: absolute;
    top: 50px;
    right: 200px;
    padding: 10px;
    margin-right: -100px;
    text-decoration: none;
}
.header-section{
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: -2.6rem;
    background-blend-mode: color;
    background: rgba(0, 0, 0, 1);
    background: radial-gradient(
        85.9% 85.9% at 50% 14.1%,
        rgba(41, 48, 61, 0.0001) 0%,
        #071629 100%);
}
.schooled{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}
.get-schooled{
    height: 150px;
    font-weight: 700;
    font-size: 120px;
    line-height: 151px;
    text-align: center;
    color: #ffffff;
}
.schooled-text{
    height: 20px;
    position: relative;
    margin-top: -7%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-left: 38%;
    margin-right: 38%;
    text-transform: uppercase;
}
.register{
    background: #c271ff;
    border-radius: 25px;
    border: none;
    padding: 0.7rem;
    color: white;
    font-weight: 500;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    align-self: center;
    margin: 2rem;
    padding: 1rem;
}
.pros{
    font-weight: normal;
}
.learn{
    font-weight: bold;
    color: #C271FF;
}
.pros-title{
    align-self: center;
    font-weight: normal;
    color: #ffffff;
    position: absolute;
    left: 570px;
    top: 1500px;
}
.pros-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pros-card{
    width: 20%;
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-style: italic;

}
.pros-card h3{
    font-weight: 900;
    font-size: 18px;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    text-align: center;
}
.pros img{
    border-radius: 100%;
}
.presenter{
    background-color: #C271FF;
    padding: 1%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    right: 10px;

}
.presenter img{
    margin-right: 3rem;
    border-radius: 100px;
}
.presenter blockquote{
    line-height: 30px;
    margin-left: 0px;
    font-size: 22px;
    margin-right: -14rem;

}
.presenter p{
    font-weight: bold;
}
.video-part h1{
    text-align: center;
}
.video-title{
    position: relative;
    align-self: center;
    padding: 2rem;
    font-weight: 300;
    line-height: 40px;
    left: 500px;
}
.video-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.video-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 15%;
}
  .video-card h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: -8.9rem;
    left: -6px;
    top: -100px;
}
  .video-card .video-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(7, 22, 41, 0.501584);
  }
.video-card .play{
    position: relative;
    top: -25%;
    left: 30%;
}
.video-card .author {
    display: flex;
    align-items: center;
  }
  .author img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .author h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #c271ff;
    margin-left: 1rem;
  }
  .rating-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .duration {
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    text-align: right;
    color: #c271ff;
  }